<!doctype html>
<html lang="en">
<head>
    <title>Calendar 02</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/style_custom.css">
    <link rel="icon" type="image/x-icon" href="favicon.ico">

</head>
<body>



<div class="container">

    <div class="header">
           
                <div class="logo-container"> 
                    <a href="Visitante_index.html"> 
                    <div class="logo">    <img class="logo" src="images/home.png" alt="Imagem de destaque">

             

                    </div></a> 
                </div> <div class="header-right">
            <a href="Quiz.html"><div class="button">Quiz</div></a>
        </div>
    </div><div class="highlight-title">Destaque do dia</div>

                <div class="title-container">
                     
                    <div class="title autor_do_dia">Miguel de Cervantes</div>

                </div>
   
    
       

    <div class="image-container">
        <img class="image" src="images/cervantes.png" alt="Imagem de destaque">
    </div>
    <div class="about">
        <div class="about-title">Sobre na Wikipedia</div>
        <div class="about-text">Filho de um cirurgião cujo nome era Rodrigo Cervantes e de Leonor de Cortinas, supõe-se que Miguel de Cervantes tenha nascido em Alcalá de Henares. O dia exato do seu nascimento é desconhecido, ainda que seja provável que tenha nascido no dia 29 de setembro, data em que se celebra a festa do arcanjo San Miguel, pela tradição de receber o nome do santoral.</div>
    </div>
   
    <div class="articles">
        <div class="articles-title">Artigos no Querido Clássico</div>
        <div class="article">
            <div class="article-title">Castelos: um elo entre a vida e a ficção</div>
        </div>
        <div class="article">
            <div class="article-title">7 clássicos da literatura em Chaves e Chapolin</div>
        </div>
        <div class="article">
            <div class="article-title">A jornada do herói na novela Pai Herói</div>
        </div>
        <div class="article">
            <div class="article-title">O Maneirismo e os poetas metafísicos</div>
        </div>
    </div>
 
</div>




</body>
</html>


